@model WebApplication.Web.Models.GymMember

@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutGoals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkoutProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => @Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.WorkoutGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.WorkoutProfile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.PhotoPath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) 
              
            </td>
        </tr>

    </tbody>
</table>
