@model WebApplication.Web.Models.GymMember

@{
    ViewData["Title"] = "Profile";
}

<h2>Profile |  @Html.ActionLink("Edit Profile", "Edit", new { /* id=item.PrimaryKey */ })</h2>


<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Email Address
            </th>
            <th>
                Workout Goals
            </th>
            <th>
                Body Profile
            </th>
         
        </tr>
    </thead>
    <tbody>

        <tr>
            <td id="profileimage">
                <img src="~/images/profile_photo/@(Model.PhotoPath).png" class="rounded-circle" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.WorkoutGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @Model.WorkoutProfile)
            </td>

            
        </tr>

    </tbody>
</table>
