@model WebApplication.Web.Models.GymMember
@{
    ViewData["Title"] = "Profile";
}

<h2>Member Profile Information</h2>

<ul>
    <li>Name: @Model.Name</li>
    <li> Email: @Model.Email</li>
    <li>Workout Goals: @Model.WorkoutGoals</li>
    <li>Workout Profile: @Model.WorkoutProfile</li>
    <li>Photo: @Model.PhotoPath</li>
</ul>

<input type="button" class="btn btn-default" value="Edit the profile" onclick="window.location= '@Url.Action( "Edit", "Account")'" />
