@model WebApplication.Web.Models.MemberInfo.ViewVisitMetrics

@{
    ViewData["Title"] = "MemberVisitMetrics";
}

<h2>Member Visit Metrics</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Month/Day/Year
            </th>

            <th>
                Duration in Minutes
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllVisitMetrics) {
        <tr>
            <td>
                @item.Month / @item.Day / @item.Year
            </td>

            <td>
                @item.Duration
            </td>

        </tr>
}

    </tbody>
</table>

<p>Average Time Of All Visits: @Model.AverageDuration</p>
