@model WebApplication.Web.Models.MemberInfo.ViewVisitMetrics

@{
    ViewData["Title"] = "MemberVisitMetrics";
}

<h2>MemberVisitMetrics</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Month
            </th>
            <th>
                Day
            </th>
            <th>
                Duration in minutes
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllVisitMetrics) {
        <tr>
            <td>
                @item.Month
            </td>
            <td>
                @item.Day
            </td>
            <td>
                @item.Duration
            </td>
            @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        </tr>
}

    </tbody>
</table>

<p>averageg of all visits: @Model.AverageDuration</p>
